*.log
.tx
.env
env/
venv/
node_modules/
static/.webassets-cache
static/gen
__pycache__/
dump/
*.sqlite3
*.pyc
data/
staticfiles/
uploaded/
app/static/bower_components
.DS_Store
package-lock.json
.vscode/settings.json
